body {
    margin: 0;
    overflow: hidden;
    background-color: #111;
    font-family: monospace;
}
canvas {
    display: block;
}
#info {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    background: rgba(0,0,0,0.5);
    padding: 10px;
    border-radius: 4px;
    pointer-events: none;
    user-select: none;
}